@model InventoryManagement.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Product</legend>

        @Html.HiddenFor(model => model.Id)

        <table style="border:hidden">
            <tr style="border:hidden;">
                <td class="column1">
                    @Html.LabelFor(model => model.Name)  
                </td>
                <td class="column2">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
                <td class="column3">
                    @Html.LabelFor(model => model.TypeId)
                </td>
                <td class="column4">
                    @Html.EditorFor(model => model.TypeId)
                    @Html.ValidationMessageFor(model => model.TypeId)
                </td>
            </tr>
            <tr style="border:hidden;">
                <td class="column1">
                    @Html.LabelFor(model => model.Description)                   

                </td>
                <td class="column2">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
                <td class="column3">
                    @Html.LabelFor(model => model.SupplierId)

                   
                </td>
                <td class="column4">
                    @Html.EditorFor(model => model.SupplierId)
                    @Html.ValidationMessageFor(model => model.SupplierId)
                </td>
            </tr>
            <tr style="border:hidden;">
                <td class="column1">
                    @Html.LabelFor(model => model.Brand)

                </td>
                <td class="column2">
                    @Html.EditorFor(model => model.Brand)
                    @Html.ValidationMessageFor(model => model.Brand)
                </td>
                <td class="column3">
                    @Html.LabelFor(model => model.Tags)                 
                </td>
                <td class="column4">
                    @Html.EditorFor(model => model.Tags)
                    @Html.ValidationMessageFor(model => model.Tags)
                </td>
            </tr>
            <tr style="border:hidden;">
                <td class="column1">
                    @Html.LabelFor(model => model.WholesalePrice)
                 
                </td>
                <td class="column2">
                    @Html.EditorFor(model => model.WholesalePrice)
                    @Html.ValidationMessageFor(model => model.WholesalePrice)
                </td>
                <td class="column3">
                    @Html.LabelFor(model => model.RetailPrice)                  
                </td>
                <td class="column4">
                    @Html.EditorFor(model => model.RetailPrice)
                    @Html.ValidationMessageFor(model => model.RetailPrice)
                </td>
            </tr>
            <tr style="border:hidden;">
                <td class="column1">
                    @Html.LabelFor(model => model.BuyPrice)

                </td>
                <td class="column2">
                    @Html.EditorFor(model => model.BuyPrice)
                    @Html.ValidationMessageFor(model => model.BuyPrice)
                </td>
                <td class="column3">
                    @Html.LabelFor(model => model.InitialCostPrice)
                 
                </td>
                <td class="column4">
                    @Html.EditorFor(model => model.InitialCostPrice)
                    @Html.ValidationMessageFor(model => model.InitialCostPrice)
                </td>
            </tr>
            <tr style="border:hidden;">
                <td class="column1">
                    @Html.LabelFor(model => model.Stock)

                </td>
                <td class="column2">
                    @Html.EditorFor(model => model.Stock)
                    @Html.ValidationMessageFor(model => model.Stock)
                </td>
                <td class="column3">                                  
                </td>
                <td class="column4">                  
                </td>
            </tr>
            <tr style="border:hidden;">
                <td class="column1">
                    @Html.LabelFor(model => model.Taxable)
                </td>
                <td class="column2">
                    @Html.EditorFor(model => model.Taxable)
                    @Html.ValidationMessageFor(model => model.Taxable)
                </td>
                <td class="column3"></td>
                <td class="column4"></td>
            </tr>
            <tr style="border:hidden;">
                <td class="column1">
                    @Html.LabelFor(model => model.IsDeleted)

                </td>
                <td class="column2">
                    @Html.EditorFor(model => model.IsDeleted)
                    @Html.ValidationMessageFor(model => model.IsDeleted)
                </td>
                <td class="column3">
                   
                </td>
                <td class="column4">
                   
                </td>
            </tr>
        </table>

      

    
        @*<div class="editor-label">
                @Html.LabelFor(model => model.ManageStock)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ManageStock)
                @Html.ValidationMessageFor(model => model.ManageStock)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.KeepSelling)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.KeepSelling)
                @Html.ValidationMessageFor(model => model.KeepSelling)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PublishOnline)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PublishOnline)
                @Html.ValidationMessageFor(model => model.PublishOnline)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OnlineOrdering)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OnlineOrdering)
                @Html.ValidationMessageFor(model => model.OnlineOrdering)
            </div>*@


        <div>
            <input type="button" id="button1" value="+ Details" onclick="onclickbutton1()" />
        </div>

        <div class="toggle1" id="div1">
            <table style="border:hidden">
                        <tr style="border:hidden;">
                                    <td class="column1">
                                             @Html.Label("SubProductName")
                                    </td>
                                    <td class="column2">
                                             @Html.TextBox("Sub_Product")
                                    </td>
                                    <td class="column3">
                                             @Html.Label("SupplierCode")
                                    </td>
                                    <td class="column4">
                                             @Html.TextBox("Supplier_code")
                                    </td>
                        </tr>
                        <tr style="border:hidden;">
                                    <td class="column1">
                                             @Html.Label("Size")
                                    </td>
                                    <td class="column2">
                                             @Html.TextBox("Size")
                                    </td>
                                    <td class="column3">
                                             @Html.Label("Weight")
                                    </td>
                                    <td class="column4">
                                             @Html.TextBox("Weight")
                                    </td>
                        </tr>
                        <tr style="border:hidden;">
                                    <td class="column1">
                                             @Html.Label("Initial Price")
                                    </td>
                                    <td class="column2">
                                             @Html.TextBox("Initial_Price")
                                    </td>
                                    <td class="column3">
                                             @Html.Label("Retail Price")
                                    </td>
                                    <td class="column4">
                                             @Html.TextBox("Retail_Price")
                                    </td>
                        </tr>
                        <tr style="border:hidden;">
                                    <td class="column1">
                                            @Html.Label("Wholesale Price")
                                    </td>
                                    <td class="column2">
                                            @Html.TextBox("Wholesale_Price")
                                    </td>
                                    <td class="column3">
                                           
                                    </td>
                                    <td class="column4">
                                           
                                    </td>
                        </tr>
                        <tr style="border:hidden;">
                                    <td class="column1">
                                            @Html.Label("Inital Stock")
                                    </td>
                                    <td class="column2">
                                            @Html.TextBox("Inital_Stock")
                                    </td>
                                    <td class="column3">
                                            @Html.Label("Inital Cost")
                                    </td>
                                    <td class="column4">
                                            @Html.TextBox("Inital_Cost")
                                    </td>
                        </tr>
                </table>
</div>

        <div>
            <input type="button" id="button2" value="+ Item Relationship" onclick="onclickbutton2()" />
        </div>

        <div class="toggle1" id="div2">
            <table  style="width:600px; height:200px; border:2px;">
                <tr>
                    <td class="column5">
                        @Html.Label("Item Number")
                    </td>
                    <td class="column5">
                        @Html.Label("Item Name")
                    </td>
                    <td class="column5">
                        @Html.Label("Qty")
                    </td>
                    <td class="column5">
                        @Html.Label("Unit")
                    </td>
                    <td class="column5">
                        @Html.Label("Unit Price")
                    </td>
                    <td class="column5">
                        @Html.Label("Cost ")
                    </td>
                </tr>

                <tr>
                    <td class="column6">
                        @Html.Label("123")
                    </td>
                    <td class="column6">
                        @Html.Label("Sugar")
                    </td>
                    <td class="column6">
                        @Html.Label("1000")
                    </td>
                    <td class="column6">
                        @Html.Label("Gram")
                    </td>
                    <td class="column6">
                        @Html.Label("100 Rs Per Kg")
                    </td>
                    <td class="column6">
                        @Html.Label("100")
                    </td>
                </tr>

                <tr>
                    <td class="column6">
                        @Html.Label("456")
                    </td>
                    <td class="column6">
                        @Html.Label("Milk")
                    </td>
                    <td class="column6">
                        @Html.Label("0.5")
                    </td>
                    <td class="column6">
                        @Html.Label("Litre")
                    </td>
                    <td class="column6">
                        @Html.Label("50 Rs. Per Litre")
                    </td>
                    <td class="column6">
                        @Html.Label("25")
                    </td>
                </tr>
            </table>
            <div style="height:20px;">

            </div>
            <table style="width:600px; border:solid; border-color:aliceblue;">
                <tr >
                    <td>
                        @Html.Label("Buy Price")
                    </td>
                    <td>
                        @Html.Label("125 Rs per Cup")
                    </td>
                </tr>
            </table>
            <div style="height:20px;">

            </div>


        </div>

        <div>
            <input type="button" id="button3" value="+ Images" onclick="onclickbutton3()" />
        </div>

        <div class="toggle1" id="div3">
            <table>
                <tr>
                    <td>
                        Images----------
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <input type="button" id="button4" value="+ Item locations" onclick="onclickbutton4()" />
        </div>

        <div class="toggle1" id="div4">
            <table>
                <tr>
                    <td>
                        Item locations----------
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <input type="button" id="button5" value="+ Pricing and Taxes" onclick="onclickbutton5()" />
        </div>

        <div class="toggle1" id="div5">
            <table>
                <tr>
                    <td>
                        Pricing and Taxes----------
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <input type="button" id="button6" value="+ History" onclick="onclickbutton6()" />
        </div>

        <div class="toggle1" id="div6">
            <table>
                <tr>
                    <td>
                        History----------
                    </td>
                </tr>
            </table>
        </div>

                        <p>
                            <input type="submit" value="Save" />
                        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    

<script>
    function onclickbutton1() {

        if (document.getElementById("button1").value == "+ Details")
        {

            document.getElementById("div1").style.display = 'block';
            document.getElementById("button1").value = "- Details";

        }
        else
        {

            document.getElementById("div1").style.display = 'none';
            document.getElementById("button1").value = "+ Details";
        }
    }

    function onclickbutton2() {

        if (document.getElementById("button2").value == "+ Item Relationship")
        {

            document.getElementById("div2").style.display = 'block';
            document.getElementById("button2").value = "- Item Relationship";

        }
        else
        {

            document.getElementById("div2").style.display = 'none';
            document.getElementById("button2").value = "+ Item Relationship";
        }
    }

    function onclickbutton3() {

        if (document.getElementById("button3").value == "+ Images")
        {

            document.getElementById("div3").style.display = 'block';
            document.getElementById("button3").value = "- Images";

        }
        else
        {

            document.getElementById("div3").style.display = 'none';
            document.getElementById("button3").value = "+ Images";
        }
    }

    function onclickbutton4() {

        if (document.getElementById("button4").value == "+ Item locations")
        {

            document.getElementById("div4").style.display = 'block';
            document.getElementById("button4").value = "- Item locations";

        }
        else
        {

            document.getElementById("div4").style.display = 'none';
            document.getElementById("button4").value = "+ Item locations";
        }
    }

    function onclickbutton5() {

        if (document.getElementById("button5").value == "+ Pricing and Taxes")
        {

            document.getElementById("div5").style.display = 'block';
            document.getElementById("button5").value = "- Pricing and Taxes";

        }
        else
        {

            document.getElementById("div5").style.display = 'none';
            document.getElementById("button5").value = "+ Pricing and Taxes";
        }
    }

    function onclickbutton6() {

        if (document.getElementById("button6").value == "+ History")
        {

            document.getElementById("div6").style.display = 'block';
            document.getElementById("button6").value = "- History";

        }
        else
        {

            document.getElementById("div6").style.display = 'none';
            document.getElementById("button6").value = "+ History";
        }
    }
</script>

}
