@*@model IEnumerable<InventoryManagement.Models.SubProduct>*@
@model IPagedList<InventoryManagement.Models.SubProduct>


@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>



@using (Html.BeginForm())
{
    
    <p>
    @Html.ActionLink("Create New", "Create", new { pro_id = @ViewBag.pro_id })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("Product ID")
        </th>
        <th>
            @Html.DisplayName("Sub Product")
           
        </th>
        <th>
            @Html.DisplayName("TypeId")
          
        </th>
        <th>
            @Html.DisplayName("Description")

        </th>
        <th>
            @Html.DisplayName("SupplierId")
          
        </th>
        <th>
            @Html.DisplayName("Brand")
          
        </th>
        <th>
            @Html.DisplayName("Tags")
           
        </th>
        <th>
            @Html.DisplayName("WholesalePrice")
          
        </th>
        <th>
            @Html.DisplayName("RetailPrice")
          
        </th>
        <th>
            @Html.DisplayName("BuyPrice")
          
        </th>
        <th>
            @Html.DisplayName("InitialCostPrice")
           
        </th>
        <th>
            @Html.DisplayName("Stock")
           
        </th>
        <th>
            @Html.DisplayName("Taxable")
           
        </th>
        <th>
            @Html.DisplayName("ManageStock")
          
        </th>
        <th>
            @Html.DisplayName("KeepSelling")
          
        </th>
        <th>
            @Html.DisplayName("PublishOnline")
           
        </th>
        <th>
            @Html.DisplayName("OnlineOrdering")
          
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WholesalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RetailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialCostPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManageStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeepSelling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishOnline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlineOrdering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
    @*<div>
        <input type="text" id="hiddenTab" name="hiddenTab" value=@ViewBag.pro_id />
    </div>*@
}